.carousel {
  overflow: hidden;
}

.carousel-inner {
  white-space: nowrap;
  transition: transform 1s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: blue;
  color: #fff;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-indicators > button {
  margin: 5px;
}

.carousel-indicators > button.active {
  background-color: blue;
  color: #fff;
}
